/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Vazirmatn, serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

input {
  box-shadow: 0 0 2px #fff;
  transition: 0.4s;
}

input:focus {
  box-shadow: 0 0 2px #0aa1dd;
}

@keyframes appearFromLeftBottom {
  0% {
    transform: matrix(0.3, 0, 0, 0.3, -500, 200);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.error {
  color: red;
  margin: -1rem 1rem 0.6rem 0;
  font-size: 0.8rem;
}

@keyframes animation1 {
  0% {
    opacity: 0.4;
    transform: matrix(0.3, 0, 0, 0.3, -1600, -1600);
    background-color: #2c3e50;
    color: white;
  }
  50% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: white;
  }
  80% {
    opacity: 0.8;
    transform: matrix(0.7, 0, 0, 0.7, 0, -200);
  }
  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: #ecf0f1;
    color: #2c3e50;
  }
}

@keyframes animation2 {
  0% {
    opacity: 0.5;
    transform: matrix(0.1, 200, 200, 0.1, 0, 0);
  }
  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes animation3 {
  0% {
    opacity: 0.5;
    transform: matrix(0.5, 0, 0, 0.1, 0, -400);
  }
  50% {
    opacity: 0.5;
    transform: matrix(0.1, 0, 0, 0.1, 0, 100);
  }
  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.showUserModalAnimation {
  animation: animation3 0.5s !important;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Vazirmatn, serif;
  backdrop-filter: blur(3px);
  animation: animation2 1s;
  z-index: 9999999999;
  .showUserModal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 6px #ecf0f1;
    direction: rtl;
    h1 {
      padding-top: 2rem;
      margin-bottom: -2rem;
      font-size: 1.3rem;
      font-weight: 700;
      color: #2c3e50;
    }
    .showUserInfo {
      display: flex;
      flex-direction: row;
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        width: 75%;
        p {
          margin-top: 2rem;
          .subject {
            text-align: right;
            font-weight: 600;
            color: #2c3e50;
          }
          .value {
            margin-right: 0;
            color: #7f8c8d;
          }
          .valueInfo {
            margin-top: 1rem;
          }
        }
      }
      .userProfileImage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        margin: 2rem 0 0 4rem;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }
    .closeShowUserModal {
      .dodgerBorderBtn {
        border: 1px solid dodgerblue;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        font-family: Vazirmatn, serif;
        background-color: transparent;
        color: dodgerblue;
        transition: 0.4s;
        border-radius: 6px;
      }
      .dodgerBorderBtn:hover {
        background-color: dodgerblue;
        color: white;
        cursor: pointer;
      }
    }
  }
  .confirmModal {
    display: block !important;
    padding: 2rem 1rem;
    width: 400px;
    text-align: center;
    background: linear-gradient(
      to top right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.6)
    );
    color: #2c3e50;
    border-radius: 6px;
    box-shadow: 0 0 5px #ecf0f1;
    .text {
      font-size: 0.9rem;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      button {
        padding: 0.5rem 1rem;
        margin-top: 2rem;
        font-family: Vazirmatn, serif;
        background-color: transparent;
        transition: 0.4s;
        border-radius: 6px;
      }
      .dangerBtn {
        border: 1px solid #ff4949;
        color: #ff4949;
      }
      .dangerBtn:hover {
        cursor: pointer;
        background-color: #ff4949;
        color: white;
      }
      .successBtn {
        border: 1px solid #4e944f;
        color: #4e944f;
      }
      .successBtn:hover {
        cursor: pointer;
        background-color: #4e944f;
        color: white;
      }
    }
  }
}

.addBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  left: 2rem;
  padding: 0.3rem;
  border: 1px solid #0aa1dd;
  width: 3rem;
  background-color: #0aa1dd;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  border-radius: 100%;
  z-index: 9999;
  transition: 0.4s;
}

.addBtn:hover {
  background-color: white;
  color: #0aa1dd;
  cursor: pointer;
  transform: rotate(90deg);
}

.addUsersForm {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 999999;
  animation: appearFromLeftBottom 1s;
  .form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background: linear-gradient(
      to top right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.6)
    );
    color: #2c3e50;
    box-shadow: 0 0 4px #ecf0f1;
    border-radius: 10px;
    h3 {
      margin: 1.5rem 0;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .closeForm {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 3rem;
      transform: rotate(45deg);
    }
    .closeForm:hover {
      cursor: pointer;
    }
    .inputs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      direction: rtl;
      .rightSide,
      .leftSide {
        display: flex;
        flex-direction: column;
        label {
          margin: 0.6rem 0;
        }
        input[type="text"] {
          font-family: Vazirmatn, serif;
          margin: 0.6rem 1rem 0.6rem 0;
          outline: 0;
          border: 1px solid #ecf0f1;
          padding: 0.4rem 0.3rem;
          width: 100%;
          border-radius: 5px;
        }
        .radio-inputs {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-right: 1.5rem;
          .accessRate {
            position: relative;
            padding-right: 1.5rem;
            input {
              opacity: 0;
            }
            .checkmark {
              position: absolute;
              right: 0;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #ecf0f1;
            }
            .checkmark:after {
              display: none;
              content: "";
              position: absolute;
              top: 5.5px;
              right: 5.5px;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background-color: white;
            }
          }
          .accessRate:hover .checkmark {
            background-color: lightgray;
          }
          .accessRate input:checked ~ .checkmark {
            background-color: #0aa1dd;
          }
          .accessRate input:checked ~ .checkmark:after {
            display: block;
          }
        }
      }
    }
    button {
      border: 1px solid dodgerblue;
      padding: 0.5rem 1rem;
      margin: 1rem;
      font-family: Vazirmatn, serif;
      background-color: transparent;
      color: dodgerblue;
      transition: 0.4s;
      border-radius: 6px;
    }
    button:hover {
      background-color: dodgerblue;
      color: white;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.7rem auto 0;
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  p {
    font-size: 0.8rem;
    margin: 1.2rem 0 0.5rem;
  }
}

.tableBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.3rem auto;
  width: 80%;
  direction: rtl;
  table {
    font-family: Vazirmatn, serif;
    border-collapse: collapse;
    width: 100%;
    color: #2c3e50;

    tr {
      transition: 0.3s;
      background-color: rgba(240, 240, 255, 0.35);
      td,
      th {
        vertical-align: middle;
        text-align: center;
        padding: 16px 8px;
      }
      th {
        padding: 1rem 0;
        text-align: center;
        background-color: #0aa1dd;
        color: white;
      }
      td {
        img {
          width: 40px;
          border-radius: 50%;
        }
        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            font-size: 1.4rem;
            margin: 0 0.5rem;
          }
          i:hover {
            cursor: pointer;
          }
          .bi-check-circle-fill {
            color: #0aa1dd;
          }
          .bi-pencil-square {
            color: #2ecc71;
          }
          .bi-trash3-fill {
            color: #e74c3c;
          }
        }
      }
      th:first-of-type {
        border-radius: 0 0.5rem 0 0;
      }
      th:last-of-type {
        border-radius: 0.5rem 0 0 0;
      }
    }
    tr:nth-child(even) {
      background-color: #effffd;
    }
    tr:hover {
      background-color: #ecf0f1;
      transform: scaleX(1.01);
      cursor: pointer;
    }
    tr:first-of-type:hover {
      transform: none;
    }
    tr:last-of-type {
      td:first-of-type {
        border-radius: 0 0 0.5rem 0;
      }
      td:last-of-type {
        border-radius: 0 0 0 0.5rem;
      }
    }
    input {
      font-family: Vazirmatn, serif;
      text-align: center;
      outline: 0;
      border: 1px solid #ecf0f1;
      padding: 0.5rem 0;
      width: 100%;
      border-radius: 5px;
    }
  }
}

.sampleModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  direction: rtl;
  .sampleModalBody {
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    width: 400px;
    height: 50px;
    background-color: #ecf0f1;
    color: #2c3e50;
    box-shadow: 0 0 5px #ecf0f1;
    border-radius: 6px;
    animation: animation1 3s;
    p {
      font-size: 0.9rem;
      text-align: center;
      line-height: 2;
    }
    span {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 2.2rem;
      transform: rotate(45deg);
      transition: 0.3s;
    }
    span:hover {
      transform: rotate(135deg);
      cursor: pointer;
    }
  }
}
