

.notFound {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        max-width: 700px;
        max-height: 700px;
        border-radius: 1rem;
    }
    p {
        margin-top: 2rem;
        font-weight: 700;
    }
}